*~
*.lo
*.la
*.o
*.swn
*.swp
*.*~
.svn/*
.svn
.*
cscope.*
Makefile.in
/Makefile
/Makefile.in
/compile
/config.guess
/config.h.in
/config.h
/config.log
/config.status
/config.status.lineno
/config.sub
/configure
/depcomp
/install-sh
/intltool-*
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/omf.make
/stamp-h1
/tags
doc/Makefile
doc/reference/Makefile
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/Makefile
src/gedit/gedit-marshal.c
src/gedit/gedit-marshal.h
src/gswat
src/gswat-spawner
examples/test0/test0

